@charset "utf-8";

.container {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  position: relative;
}

.panel,
.text {
  background: #000;
  overflow: hidden;
  position: relative;
}

#title {
  
}

#intro {
  background-position: center center;
}