@charset "utf-8";

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  position: relative;
}

.panel,
.text {
  background: #000;
  overflow: hidden;
  position: relative;
}

.caption {
  font-size: 19px;
  font-weight: 400;
  width: 500px;
  position: absolute;
  user-select: none;
  cursor: default;
  z-index: 997;
}

#title {
  background-color: #990000;
  }

#intro {
  background-position: center center;
  background-color: #009900;
  }

#intro-her {
    background: url('../img/3a.jpg') 50% 0 no-repeat fixed;
    background-color: black;
    }

    #intro-her .b {
        background: url('../img/3b.png') 50% 0 repeat-x fixed;
        width: 100%;
        position: absolute;
        z-index: 100;
        }
    
    #intro-her .c {
        background: url('../img/3c.png') 50% 0 no-repeat fixed;
        width: 100%;
        position: absolute;
        z-index: 101;
        }
    
    #intro-her .d {
        background: url('../img/3d.png') 50% 0 no-repeat fixed;
        width: 100%;
        position: absolute;
        z-index: 102;
        }
        
    #intro-her .caption {
        width: 340px;
        margin: 358px 0 0 555px;
        }

#about-her {
  background-color: #000099;
  }