@charset "utf-8";

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  position: relative;
}

.panel,
.text {
  background: #000;
  overflow: hidden;
  position: relative;
}

.caption {
  font-size: 19px;
  font-weight: 400;
  width: 500px;
  position: absolute;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 997;
}

.cover {
  background-size: cover;
  background-attachment: fixed;
  }

#title {
  background-color: #990000;
  }

#intro {
  background-position: center center;
  background-color: #009900;
  }

#intro-her {                                                            /* 3 Chris Neal */
    background-image: url('../img/3a.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: black;
    }

    #intro-her .b {
        background-image: url('../img/3b.png');
        background-position: 50% 0;
        background-repeat: repeat-x;
        width: 100%;
        position: absolute;
        z-index: 100;
        }
    
    #intro-her .c {
        background-image: url('../img/3c.png');
        background-position: 50% 0;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        z-index: 101;
        }
    
    #intro-her .d {
        background-image: url('../img/3d.png');
        background-position: 50% 0;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        z-index: 102;
        }
        
    #intro-her .caption {
        width: 340px;
        margin: 358px 0 0 555px;
        }

#about-her {
  background-color: #000099;
  }